.del {
  font-style: italic;
  font-weight: bold;
  background: rgb(102, 19, 19);
  color: white;
  border-radius: 5px;
  height: 30px;
  margin: 10px 10px 0 10px;
}

.card {
  background-color: pink;
  border-radius: 5px;
  padding: 20px;
  font-style: italic;
}

.card-row {
  display: flex;
  /* Display the columns side-by-side */
  justify-content: space-between;
  /* Space them out evenly */
  align-items: center;
  /* Align the columns vertically in the center */
}

.card-column {
  flex: 1;
  /* Each column should take up equal space */
  margin: 0 10px;
  /* Add some space between the columns */
  text-align: center;
  /* Center the content within each column */
}